header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    justify-items: center;
}

.link-to-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-to-game p {
    text-align: center;
}

.waldo-map-icon {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 15rem;
}

.waldo-map-icon:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.description {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    grid-column: 1 / 3;
    margin-left: 2rem;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.character-icon {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 10rem;
}

.link-to-leaderboard {
    grid-column: 3;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    align-self: center;
    size: 20px;
}

.link-to-leaderboard:hover{
    background-color: green;
}

.link-to-leaderboard:hover h1{
    background-color: green;
    color: white;
}